
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#DA3B4E">
<meta name="theme-color" content="#DA3B4E">


<script>
  var root = document.getElementsByTagName('html')[0];
  root.className += 'js';
</script>


<script>
  window.addEventListener('touchstart', function() {
    document.getElementsByTagName('html')[0].classList.add('is-touch');
    window.isTouch = true;
  });
</script>


<script>
  const updateVh = function() {
    const vh = window.innerHeight;
    document.documentElement.style.setProperty('--vh100', `${vh}px`);
  };

  if (typeof window !== 'undefined') {
    window.addEventListener('resize', updateVh);
    updateVh();
  }
</script>


<script>
  window.lazySizesConfig = {
    addClasses: true,
    expand: 1000,
    lazyClass: 'lazyload',
    loadingClass: 'is-loading',
    loadedClass: 'is-loaded',
    customMedia: {
      '--small': '(max-width: 768px)'
    }
  };
</script>

<link rel="stylesheet" href="https://use.typekit.net/bkz1hwe.css">
<link rel="stylesheet" href="assets/css/main.css">

