<div class="site-footer">
  <div class="site-footer__inner container">
    <div class="site-footer__left">
      <a href="/" class="site-footer__logo">
        <img src="/assets/images/apple-touch-icon.png" alt="" class="site-footer__logo">
      </a>
      <a href="/" class="site-footer__logo">
        {% include svg-logo-type.html %}
      </a>

    </div>

    <div class="site-footer__right">
      <div class="site-footer__links type-p2">
        <a href="/for-educators">For Educators</a>
        <a href="/for-lawyers">For Lawyers</a>
        <br />
        <a href="mailto:{{ site.contactEmail }}" class="site-footer__contact">Contact Us</a>
        <br />
      </div>
      <a href="{{ site.appstoreUrl }}" class="site-footer__download">
        {% include svg-download.html %}
      </a>
    </div>

    <div class="site-footer__full">
      <div class="site-footer__small">
        <p class="type-p3">© <script>document.write(new Date().getFullYear())</script> Citizenry</p>
        <div class="site-footer__small-links">
          <a class="type-p3" href="/terms-of-service">Terms of Service</a>
          <a class="type-p3" href="/privacy-policy">Privacy Policy</a>
        </div>
      </div>
    </div>

    <div class="site-footer__right">
    </div>
  </div>
</div>
