.btn {
  display: inline-block;
  background-color: var(--c-red);
  padding: 16px 28px;
  font-weight: 600;
  color: var(--c-white);
  border-radius: 20px;
  transition: background var(--transition-default);

  @include media-md {
    padding: 16px 36px;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;

    &.--apple {
      transform: translateY(-12%);
    }
  }

  @media(hover:hover) {
    &:hover {
      background-color: var(--c-red-hover);
    }
  }

  &.--black {
    background-color: var(--c-black);

    @media(hover:hover) {
      &:hover {
        background-color: #000000;
      }
    }
  }

  &.--blue {
    background-color: var(--c-blue);

    @media(hover:hover) {
      &:hover {
        background-color: var(--c-dark-blue);
      }
    }
  }
}
