.type-h1 {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.025em;
  font-weight: 500;

  @include media-md {
    font-size: 54px;
  }
}

.type-h2 {
  font-size: 24px;
  line-height: 1.333;
  letter-spacing: -0.01em;
  font-weight: 400;

  strong {
    font-weight: 500;
  }

  p + p {
    margin-top: 1em;
  }

  @include media-md {
    font-size: 36px;
  }
}

.type-h3 {
  font-size: 18px;
  line-height: 1.333;
  letter-spacing: -0.01em;
  font-weight: 600;

  @include media-md {
    font-size: 24px;
  }
}

.type-p1 {
  font-size: 16px;
  line-height: 1.333;
  letter-spacing: -0.01em;

  @include media-md {
    font-size: 21px;
  }
}

.type-p2 {
  font-size: 16px;
  line-height: 1.333;
  letter-spacing: -0.01em;

  @include media-lg {
    font-size: 18px;
  }
}

.type-p3 {
  font-size: 13px;
  line-height: 1.333;
  letter-spacing: -0.01em;

  @include media-lg {
    font-size: 14px;
  }
}