<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include head.html %}
  <title>Citizenry for iOS · {{ page.title }}</title>
</head>

<body>
  {% include site-header.html %}
  
  <!-- Header -->

  <div class="header container --narrow">

    <h1 class="type-h1">{{ page.heading }}</h1>
    
  </div>

  <!-- intro -->

  <div class="intro u-text-align-center container --narrow">
    <div class="type-h2">
      {{ page.intro|markdownify }}
    </div>
  </div>

  <!-- Features -->

  <div class="two-col container">

    <div class="two-col__col">
      <div class="feature">
        <div class="feature__icon">
          {% include svg-interview.html %}
        </div>
        <div class="feature__text">
          <h2 class="type-h3">Mock interviews</h2>
          <p class="type-p1">Practice as much as you want with realistic mock interviews hosted by a virtual USCIS agent</p>
        </div>
      </div>
    </div>

    <div class="two-col__col">
      <div class="feature">
        <div class="feature__icon">
          {% include svg-daily-quiz.html %}
        </div>
        <div class="feature__text">
          <h2 class="type-h3">Daily practice quiz</h2>
          <p class="type-p1">Test your knowledge of the 100 civics questions daily, and share your results with friends</p>
        </div>
      </div>
    </div>

    <div class="two-col__col">
      <div class="feature">
        <div class="feature__icon">
          {% include svg-up-to-date.html %}
        </div>
        <div class="feature__text">
          <h2 class="type-h3">Up-to-date answers</h2>
          <p class="type-p1">Our test answers are automatically synced to your local and national election results</p>
        </div>
      </div>
    </div>

    <div class="two-col__col">
      <div class="feature">
        <div class="feature__icon">
          {% include svg-languages.html %}
        </div>
        <div class="feature__text">
          <h2 class="type-h3">Supports 85 languages</h2>
          <p class="type-p1">Switch between English and your native language anywhere in the app</p>
        </div>
      </div>
    </div>

  </div>

  <!-- Banner -->

  <div class="banner container --dark">
    <h2 class="banner__heading type-h2"><strong>Find out how we can help your clients</strong></h2>
    <a href="mailto:{{ site.contactEmail }}" class="btn --blue">
      Contact Us
    </a>
  </div>

  {% include site-footer.html %}
  
  <!-- Flickity -->
  <!-- CSS -->
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <!-- JavaScript -->
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  
</body>

</html>